<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/img/logo-icon.png" sizes="32x32">
    <title>Admin - Attendi approvazione</title>
    <link rel="stylesheet" href="/styles/admin/auth/waitingApprovation.css">
</head>
<body>
    <header>
        <img src="/img/logo.png" alt="" width="250px">
    </header>
    <div>
        <h1>Gentile <%= utente %>,</h1>
        <p>La tua richiesta di registrazione è stata inviata. Riceverai un'email di conferma quando verrai approvato.</p>
    </div>
</body>
</html>