@import url("https://fonts.googleapis.com/css2?family=Reddit+Mono:wght@200..900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Reddit+Mono:wght@200..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Rubik", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    scroll-behavior: smooth;
}
:root{
    --header-height: 150px;
}
::-webkit-scrollbar{
    width: 3px;
    background-color: #0000;
}
::-webkit-scrollbar-thumb{
    background: var(--accentColor);
}
main{
    margin-top: calc(var(--header-height) + 10px);
}
.material-symbols-rounded{
    user-select: none;
}
.header {
    top: 0;
    position: fixed;
    width: 100%;
    height: var(--header-height);
    color: var(--textColor);
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 50px;
    z-index: 3;
    pointer-events: none;
}
.header .logo img{
    max-width: 150px;
    width: 100%;
    cursor: pointer;
    pointer-events: all;
}
#toggleMenuBtn {
    font-size: 3.5rem;
    cursor: pointer;
    transition: 0.5s;
    user-select: none;
    z-index: 3;
    pointer-events: all;
}
#navBar {
    position: fixed;
    padding-top: var(--header-height);
    bottom: 0;
    right: 0;
    background: var(--elementsBg);
    height: 100dvh;
    width: 0;
    transition: 0.5s;
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: column;
    z-index: 1 !important;
    overflow-x: hidden;
    filter: drop-shadow(-20px 0px 10px #00000033);
}

#navBar ul {
    position: relative;
    width: 100%;
    display: none;
    transition: 0.5s;
    opacity: 0;
}
#navBar ul li {
    width: 100%;
    padding: 10px 10px;
    list-style: none;
    transition: 1s;
    user-select: none;
}
#navBar ul li.active{
    transform: translateX(10px);
    filter: drop-shadow(5px 5px 15px var(--accentColor));
    background: var(--accentColor);
    transform: scale(.96);
    filter: grayscale(.45) !important;
    & a{
        color: var(--defaultWhite);
        cursor: default;
    }
}
#navBar ul li a{
    -webkit-user-drag: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}
#navBar ul li a,
.logoutBtn {
    cursor: pointer;
    text-decoration: none;
    color: var(--textColor);
    font-weight: 750;
    text-transform: capitalize;
    margin-block: 25px;
    transition: .5s;
}
#navBar ul li:has( > a):hover {
    transform: translateX(10px);
}
#navBar ul li:not(#logOutList) {
    filter: drop-shadow(5px 5px 15px var(--accentColor));
}
#navBar ul li:not(#logOutList):hover {
    background: var(--accentColor);
    transform: scale(.96);
}
#navBar ul li:hover :where(a) {
    color: var(--defaultWhite);
}

#navBar ul li:where(#logOutList, #loginHeaderLink, #signupHeaderLink) {
    width: 300px;
    padding: 5px;
    margin: 0;
    display: flex;
    justify-content: center;
}
.headerBottomLink{
    width: 100%;
    position: fixed;
    bottom: 0;
    display: flex;
    flex-direction: column;
}
.themeMode{
    display: flex;
    align-items: center;
    justify-content: center;
}
.themeMode span{
    cursor: pointer;
    transition: .5s;
}
.themeMode:hover span{
    color: var(--defaultWhite);
}
.headerBottomLink #loginHeaderLink, .headerBottomLink #signupHeaderLink{
    position: relative;
}
#navBar ul li#logOutList:hover form button span{
    color: var(--danger);
}
#navBar ul li#logOutList:hover form button{
    transform: scale(1.3);
}
.logoutBtn {
    height: 0;
    background: #0000;
    border: none;
    outline: none;
    padding-block: 2px;
    font-weight: 1000;
    color: var(--textColor) !important;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;

}
@media (max-width: 1400px){
    .header{
        background: var(--elementsBg);
    }
}
@media (max-height: 870px) {
    :root{
        --header-height: 75px;
    }
    #toggleMenuBtn {
        font-size: 3rem !important;
    }
    #navBar {
        padding-top: var(--header-height);
    }
    #navBar ul li {
        padding: 5px 10px;
    }
    @media (max-height: 596px) {
        #navBar ul li {
            font-size: 0.8rem;
        }
        #navBar ul li {
            padding: 7px 10px;
        }
        @media (max-height: 409px) {
            #navBar ul li {
                padding: 3px 10px;
            }
        }
    }
}
@media (max-width: 550px) {
    #navBar {
        align-items: center;
        justify-content: center;
    }
    .headerBottomLink{
        position: relative;
        width: 100%;
    }
    #navBar ul li:where(#logOutList, #loginHeaderLink, #signupHeaderLink) {
        width: 100%;
    }

    #navBar ul li {
        text-align: center;
    }
    #navBar ul li.active a{
        color: var(--accentColor);
        opacity: .5;
    }
    #navBar ul li:not(#logOutList){
        background: none;
    }
    #navBar ul li:not(#logOutList):hover {
        background: none;
    }
    #navBar ul li:hover :where(a) {
        color: var(--accentColor);
    }
    .themeMode:hover span{
        color: var(--accentColor);
    }
}