<link rel="stylesheet" href="/styles/admin/components/header.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
<script src="/scripts/admin/components/header.js"></script>
<header class="header">
    <div class="openMenu">
        <span id="toggleMenuBtn" class="material-symbols-outlined">
            menu
        </span>
    </div>
    
</header>
<nav id="navBar">
    <ul>
        <li><a href="/admin">Utenti</a></li>
        <li><a href="/admin/price">Prezzi</a></li>
        <li><a href="/admin/mezzi">Mezzi</a></li>
        <!-- <li>
            <details>
                <summary><a>Fatture</a></summary>
                <div class="headerField">
                    <a href="/admin/storicoFatture">Storico Fatture</a>
                    <a href="/admin/emettiFattura">Genera Fattura Medico</a>
                </div>
            </details>
        </li> -->
        <li><a href="/admin/approveUsers">Approva Admin</a></li>
        <li id="logOutList">
            <form action="/logout" method="POST">
                <button class="logoutBtn" type="submit"> 
                    <span class="material-symbols-outlined">
                        logout
                    </span>
                    <span>LOGOUT</span>
                </button>
            </form>
        </li>
    </ul>
</nav>

<script>
    document.querySelectorAll('details').forEach(details => {
        details.addEventListener('toggle', event => {
            if (details.open) {
                document.querySelectorAll('details').forEach(otherDetails => {
                    if (otherDetails !== details) {
                        otherDetails.removeAttribute('open');
                    }
                });
            }
        });
    });
</script>
